<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 col-center">
      <navbar></navbar>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-9 col-md-10 col-lg-11 col-xs-12 col-center">
        <router-outlet></router-outlet>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-9 col-md-10 col-lg-11 col-xs-12 col-center">
      <hr>
      <footer>
        © 2018 - TeamSystem
      </footer>
    </div>
  </div>
  <br>
</div>