.content {
    animation: 1s linear 0s 1 TranslateXWithFade;
}

li img {
    width: 100%;
}

.list-group {
    box-shadow: 0 0 20px black;
    padding-right: 0 !important;
    border-radius: 10px;
}

.flagDelete {
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    animation: 1s ease-out 0s 1 FadeIn;
}
