<div class="content">
    <div class="row">
        <div class="col-md-8 col-sm-9 col-lg-10 text-center col-center">
            <h2>About us</h2>
            <hr>
            <p>We are young developers who seek to make beautiful and reliable sites and desktop programs.</p>
            <p>Our team is composed by two members: </p>
            <ul class="list-unstyled">
                <li><img class="img-responsive img-thumbnail" src="https://avatars1.githubusercontent.com/u/24933204?s=400&v=4" alt="Avatar"> Simeon Mechkov</li>
                <br>
                <li><img class="img-responsive img-thumbnail" src="https://avatars1.githubusercontent.com/u/23415867?s=400&v=4" alt="Avatar"> Valentin Parvanov</li>
            </ul>
            <p>Just because we are two guys, we guarantee that we will make the project fast and without hesitation.</p>
        </div>
    </div>
</div>