.content {
    animation: 1s linear 0s 1 TranslateXWithFade;
}

.dataContainer {
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: solid 1px black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: inline-block;
}

.flagDelete {
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    animation: 1s ease-out 0s 1 FadeIn;
}

li {
    cursor: pointer;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}